#app {
    margin: 10px;
    text-align: center;

}

h1 {
    color: black;
    font-family: 'Permanent Marker', cursive;
    font-size: 80px;
}

li{list-style: none;}

#flexContainer {
  display: flex;
  text-align: right;
  justify-content: center;
  padding: 50px 200px 50px 200px;
}

#budgetList {
  text-align: center;
  flex: 1;
}
#cost {
  text-align: center;
  flex: 1;
}
p {
  padding: 20px 10px 10px 10px;
}
